@media only screen and (width <= 768px){

* {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    overflow: auto;
}

.container {
    min-width: 320px;
    text-align: center;
    /*margin: 0 auto;*/
}

.main .heading {
    font-size: 22px;
    line-height: 32px;
}

.main .heading .heading-black {
    color: #15202A;
}

.main .heading .heading-grey {
    color: #969696;
    font-weight: 300;
}

.main .text {
    margin: 0;
    padding-bottom: 32px;
    font-size: 12px;
}

.main .email {
    display: flex;
    flex-direction: column;
    margin: 0 0 72px 0;
}

.main .email .email-input {
    padding: 10px 0 10px 30px;
    box-sizing: border-box;
    width: 75%;
    border-color: #C2D3FF;
    border-radius: 28px;
    border-style: solid;
    font-size: 12px; 
    margin:0 0 10px 0;   
}

.main .email .submit {
    border-radius: 28px;
    border-style: solid;
    background-color: #4C7BF3;
    border-color: #4C7BF3;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    width: 75%;
    padding: 10px 0;
}

.main .mockup img{
    width: 85%;
    margin: 0 0 120px 0;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer ul li {
    display: inline;
    padding: 8px;
}

.fa-brands {
    color: #4C7BF3;
}

.fa-facebook-f {
    margin: 0;
    padding: 6px 9.75px;
    border: 1px solid #C2D3FF;
    border-radius: 50%;
}

.fa-twitter {
    margin: 0;
    padding: 6px 6px;
    border: 1px solid #C2D3FF;
    border-radius: 50%;
}

.fa-instagram {
    margin: 0;
    padding: 6px 7.25px;
    border: 1px solid #C2D3FF;
    border-radius: 50%;
}

.copyright p {
    color: #969696;
    font-size: 10px;
    margin: 27px 0;
}
}
