body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    font-size: 20px;
}

.container {
    max-width: 712px;
    text-align: center;
    margin: 0 auto;
}

header {
    margin: 80px 0 32px 0;
}

.main .heading {
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 15px 0;
}

.main .heading .heading-black {
    color: #15202A;
    font-family: 'Libre Franklin', sans-serif;
}

.main .heading .heading-grey {
    color: #969696;
    font-weight: 300;
}

.main .text {
    margin: 0 0 40px 0;
}

.main .email {
    margin: 0 0 90px 0;
}

.main .email .email-input{
    padding: 19px 214px 19px 30px;
    border-color: #C2D3FF;
    border-radius: 28px;
    border-style: solid;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    margin-right: 16px;
    color: #B8C7ED;
}

.main .email .submit {
    font-family: 'Libre Franklin', sans-serif;
    padding: 18px 68px;
    border-radius: 28px;
    border-style: solid;
    background-color: #4C7BF3;
    border-color: #4C7BF3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.main .mockup img{
    width: 640px;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer ul li {
    display: inline;
    padding: 8px;
}

.fa-brands {
    color: #4C7BF3;
}

.fa-facebook-f {
    margin: 0;
    padding: 11px 14px;
    border: 1px solid #C2D3FF;
    border-radius: 50%;
}

.fa-twitter {
    margin: 0;
    padding: 11px 11px;
    border: 1px solid #C2D3FF;
    border-radius: 50%;
}

.fa-instagram {
    margin: 0;
    padding: 11px 12px;
    border: 1px solid #C2D3FF;
    border-radius: 50%;
}

.copyright p {
    color: #969696;
    font-size: 16px;
    margin: 25px 0;
}

a {
    color: white;
}

.main .email .email-input::placeholder{
    color: #B8C7ED;
}

.main .email .submit:hover {
    background-color: #C2D3FF;
    border-color: #C2D3FF;
    cursor: pointer;
}

.fa-brands:hover {
    background-color: #4C7BF3;
    color: white;
    border-color: #4C7BF3;
    cursor: pointer;
}
